html, body { margin: 0; height: 100%; color: #333; overflow:hidden; }

.preview {
    display: inline-block;
    height: 100%;
    vertical-align: top;
    padding: 0 20px;
}

table { height: 100%; }
table thead th { height: 51px; }
table tbody td { padding:0; width:50%; max-width: 50%; min-width: 50%; height:100%; }
.no-padding { padding: 0 !important; }
